[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pandas = "*"
python-dotenv = "*"
undetected-chromedriver = "*"
bibtexparser = "*"
pybtex = "*"
tabulate = "*"
nltk = "*"
scikit-learn = "*"
scipy = "*"
matplotlib = "*"
networkx = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.9"
